* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body, html {
    font-family:'Jost', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    user-select: none;
}
.container {
    text-align: center;
    padding: 20px;
}
.header .logo {
    max-width: 100%;
    width: 150px;
    height: auto;
    margin-top: 1rem;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form input {
    padding: 10px;
    max-width: 300px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

form h1 {
    color: rgb(57, 131, 57);
    margin-bottom: 2rem;
    text-align: center;
}

.start-button {
    padding: 10px 20px;
    font-size: 11px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5rem;
}
.start-button:hover {
    background-color: #755f8b;
}
.checkbox-container {
    display: block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.3s;
}
.checkbox-container:hover {
    color: rgb(57, 131, 57);
}
main section a {
    float: right;
}
main a {
    font-size: 12px;
    float: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}
main a:hover {
    color: rgb(57, 131, 57);
    text-decoration-line: underline;
}

